:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;
  --base-width: 100%;

  color-scheme: light dark;
  color: #191919;
  background-color: #F4F2EE;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0 auto; /* Centra el contenido horizontalmente */
  display: flex;
  /*place-items: center;*/
  min-width: 30%;
  max-width: 70%;
  width: calc(var(--base-width));

  min-height: 100vh;
}

h1 {
  font-size: 40px; /*3.2em*/
  line-height: 1.5;
  font-family: Helvetica, Arial, 'Times New Roman', Times, serif;
}

h2 {
  text-align: left;
  font-size: 20px ; /*2.5em*/
  font-family: Helvetica, Arial, 'Times New Roman', Times, serif;
  margin: 10px 0; /*Controla el espacio alrededor del elemento.*/
  padding: 10 px; /* Controla el espacio dentro del elemento.*/
  color: #191919; /*Define el color del texto. */
  line-height: 1; /* Ajusta la altura de la línea para mejorar la legibilidad.*/
  text-transform: uppercase; /*Controla la capitalización del texto.*/
  letter-spacing: 0.05em; /*Ajusta el espacio entre caracteres*/
  font-weight: bold; /* Hace que el texto aparezca en negrita */
}

hr {
  border: 0;
  height: 2px;
  background-color: #555;
  border-radius: 1px;
  margin: 10px 0;
}

div.container {
  background-color: #ffffff; /* Fondo blanco */
  border-radius: 15px; /* Bordes redondeados */
  padding: 20px; /* Espacio interno */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra opcional para un efecto de profundidad */
  margin: 10px auto; /* Espacio externo */
  width: calc(var(--base-width) - 40px);
}

div#keywords {
  font-style: italic;
  font-size: 15px ;
}

p.content {
  text-align: left; /* Alineación del texto a la izquierda */
  font-family: Helvetica, Arial, sans-serif; /* Tipografía */
  font-size: 16px; /* Tamaño de la fuente */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
